*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    background-color: aqua;
}

.top-header nav{
    font-family: 'Fredoka', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa823;
    height: 50px;
    width: 100%;
}

.left-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.products-link{
    margin-left: 20px;
    margin-right: 20px;
}

.orders-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    text-align: center;
    color: #041c2c;
}

.orders-seller {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 100px;
}

.username {
    margin-left: 20px;
}

#logout-btn {
    font-family: 'Fredoka', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    background-color: transparent;
    font-size: small;
    color: #041c2c;
}

a:visited {
    color: #041c2c;
}